<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SNPK - Sistem Nasional Pemantauan Kekerasan</title>
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default nav-header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#default-header"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/snpk_logo_white.png') }}">
                <h2>Sistem Nasional Pemantauan Kekerasan</h2>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="default-header">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="logout.html">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="map"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 text-center">
        	<h4>Jumlah Rules</h4>
            {{ total_rules }}
        </div>
        <div class="col-md-4 text-center">
    		<h4>Waktu Eksekusi</h4>
    		{{ time_exe }}
    	</div>
    	<div class="col-md-4 text-center">
    		<h4>Provinsi</h4>
    		{% for d in converted_data %}
    			{{ d['Result'] }}
    			<br />
    		{% endfor %}
    	</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        	<h3>Data Kekerasan Nasional</h3>
            <div class="table-responsive show-table">
                {{ data|safe }}
            </div>
        </div>
    </div>
</div>

{% for d in converted_data %}
    <div class="modal fade" id="modal-{{ d['Result'].lower().replace(' ', '') }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{ d['Result']}}</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    {{ d['html'] | safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


</body>
<!-- footer section -->
<footer class="dd-footer">

</footer>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/scripts.min.js') }}"></script>
<script type="text/javascript">

    var simplemaps_countrymap_mapdata = {
        main_settings: {
            //General settings

            width: "responsive", //or 'responsive'
            background_color: "#FFFFFF",
            background_transparent: "yes",
            border_color: "#ffffff",
            pop_ups: "detect",

            //State defaults
            state_description: "Click for more details",
            state_color: "#88A4BC",
            state_hover_color: "#3B729F",
            state_url: "",
            border_size: 1.5,
            all_states_inactive: "no",
            all_states_zoomable: "no",

            //Location defaults
            location_description: "Location description",
            location_url: "",
            location_color: "#FF0067",
            location_opacity: 0.8,
            location_hover_opacity: 1,
            location_size: 25,
            location_type: "square",
            location_image_source: "frog.png",
            location_border_color: "#FFFFFF",
            location_border: 2,
            location_hover_border: 2.5,
            all_locations_inactive: "no",
            all_locations_hidden: "no",

            //Label defaults
            label_color: "#d5ddec",
            label_hover_color: "#d5ddec",
            label_size: 22,
            label_font: "Arial",
            hide_labels: "no",
            hide_eastern_labels: "no",

            //Zoom settings
            zoom: "yes",
            manual_zoom: "yes",
            back_image: "no",
            initial_back: "no",
            initial_zoom: "-1",
            initial_zoom_solo: "no",
            region_opacity: 1,
            region_hover_opacity: 0.6,
            zoom_out_incrementally: "yes",
            zoom_percentage: 0.99,
            zoom_time: 0.5,

            //Popup settings
            popup_color: "white",
            popup_opacity: 0.9,
            popup_shadow: 1,
            popup_corners: 5,
            popup_font: "12px/1.5 Verdana, Arial, Helvetica, sans-serif",
            popup_nocss: "no",

            //Advanced settings
            div: "map",
            auto_load: "yes",
            url_new_tab: "no",
            images_directory: "default",
            fade_time: 0.1,
            link_text: "View Website"
        },
        state_specific: {
            IDN1136: {
                name: "Nanggro Aceh Darussalam"
            },
            IDN1185: {
                name: "Kalimantan Timur"
            },
            IDN1223: {
                name: "Jawa Barat"
            },
            IDN1224: {
                name: "Jawa Tengah"
            },
            IDN1225: {
                name: "Bengkulu"
            },
            IDN1226: {
                name: "Banten"
            },
            IDN1227: {
                name: "Jakarta Raya"
            },
            IDN1228: {
                name: "Kalimantan Barat"
            },
            IDN1229: {
                name: "Lampung"
            },
            IDN1230: {
                name: "Sumatera Selatan"
            },
            IDN1231: {
                name: "Bangka-Belitung"
            },
            IDN1232: {
                name: "Bali"
            },
            IDN1233: {
                name: "Jawa Timur"
            },
            IDN1234: {
                name: "Kalimantan Selatan"
            },
            IDN1235: {
                name: "Nusa Tenggara Timur"
            },
            IDN1236: {
                name: "Sulawesi Selatan"
            },
            IDN1237: {
                name: "Sulawesi Barat"
            },
            IDN1796: {
                name: "Kepulauan Riau"
            },
            IDN1837: {
                name: "Gorontalo"
            },
            IDN1930: {
                name: "Jambi"
            },
            IDN1931: {
                name: "Kalimantan Tengah"
            },
            IDN1933: {
                name: "Irian Jaya Barat"
            },
            IDN381: {
                name: "Sumatera Utara"
            },
            IDN492: {
                name: "Riau"
            },
            IDN513: {
                name: "Sulawesi Utara"
            },
            IDN538: {
                name: "Maluku Utara"
            },
            IDN539: {
                name: "Sumatera Barat"
            },
            IDN540: {
                name: "Yogyakarta"
            },
            IDN554: {
                name: "Maluku"
            },
            IDN555: {
                name: "Nusa Tenggara Barat"
            },
            IDN556: {
                name: "Sulawesi Tenggara"
            },
            IDN557: {
                name: "Sulawesi Tengah"
            },
            IDN558: {
                name: "Papua"
            }
        }
    };

    $(function () {
    	var raw = {{raw_data | safe}}
    	// var time_exec = {{time_exe}}
    	console.log(raw)
    	// alert("execution time: " + time_exec + " seconds");
        simplemaps_countrymap.hooks.click_state = function (id) {
            name = simplemaps_countrymap_mapdata.state_specific[id].name.toLowerCase().replace(/ /g, '', -1);
            simplemaps_countrymap_mapdata.state_specific[id].color='red';
            $('#modal-' + name).modal('show');
        }

    })

</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/countrymap.js') }}"></script>
</body>
</html>